.experience__body {
   padding-top: rem(59);
   padding-bottom: rem(28);

   @media(min-width:$mobile) {
      padding-top: rem(69);
      padding-bottom: rem(38);
   }

   @media(min-width:$tablet) {
      padding-top: rem(79);
      padding-bottom: rem(48);
   }

   .experience__title {
      max-width: rem(683);
   }
}