.experience__body {
   padding-top: rem(60);
   padding-bottom: rem(36);

   @media(min-width:$mobile) {
      padding-top: rem(79);
      padding-bottom: rem(48);
   }

   .experience__title {
      max-width: rem(683);
   }
}